student.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="firstname"/>
              <xs:element type="xs:string" name="lastname"/>
              <xs:element type="xs:string" name="nickname"/>
              <xs:element type="xs:int" name ="age"/>
              <xs:element name="gender">
                <xs:simpleType>
                <xs:restriction base="xs:string">
                <xs:pattern value="F|M"/>
                </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:date" name ="birth"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element
  
  >
</xs:schema>